<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Mahe Blog | <%= title %></title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
</style>
<script src=""></script>
<body>

<!-- <img src="img_la.jpg" alt="LA" style="width:100%"> -->
<%- include('./partials/nav.ejs') %>
<div class="">
 <h1>400 - Oops </h1>
 <p>This page does not exist.</p> 
</div>

</body>
</html>